<h1>City</h1>

<h2>Title: <%= @place["name"] %></h2>

<% for post in @posts %>
    <li>
        <%= post["title"] %>
        <%= post["description"] %>
        <%= post["posted_on"] %>
    </li>
<% end %>

<p><a href="/posts/new">New Post</a></p>
<%# <p><a href="places/new">New Post</a></p> %>
<p><a href="/places">Back to all Places</a></p>





